<div class="meeting-card">
  <div class="meeting-card-wrap">
    <div class="meeting-left">
      <div class="meeting-img">
        <img  src="{{(user$ | async)?.picture?.thumbnail}}">
      </div>
      <div class="meeting-content">
        <div class="meeting-title">{{(user$ | async)?.name?.first}} {{(user$ | async)?.name?.last}}</div>
        <div class="meeting-time">11:00 - 20:00</div>
      </div>
    </div>
    <button mat-icon-button>
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>

</div>
